@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/colors' as *;


.video-list {
    box-sizing: border-box;
    width: 100%;
    padding: 16px;

    @include tablet {
        width: 50%;
        padding-left: 48px;
    }

    @include desktop {
        width: 40%;
        border-left: 1px solid $color-secondary-mercury;
        padding-left: 24px;
    }

    &__title {
        color: $color-primary-silver;
        @include font-header-section;
    }

    &__item {
        display: flex;
    }
}
// ************************************************

ul {
    padding: 0;
}
// ************************************************

.video-item {
    &__title {
        @include font-subheader;
    }
    &__channel {
       @include font-body; 
    }

    &__image {
        border-radius: 4px;
        background-color: $color-secondary-mercury;
        min-width: 115px;
        height: 65px;
        margin: 16px 16px 0 0;
    }
}