@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/colors' as *;

.video-list {
    box-sizing: border-box;
    width: 100%;
    padding: 16px;

    &__title {
        color: $color-primary-silver;
        @include font-header-section;
    }

    &__item {
        display: flex;
    }
}

ul {
    padding: 0;
}

.video-item {
    &__title {
        @include font-subheader;
    }
    &__channel {
       @include font-body; 
    }

    &__image {
        border-radius: 4px;
        background-color: $color-secondary-mercury;
        //need to fix image size or put in container
        width: 96px;
        height: 54px;
    }
}