@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/colors' as *;



.main {
    // box-sizing: border-box;
    // width: 100%;
    padding: 16px;
}

.video-article {
    &__title {
        @include font-header-page;
    }
    &__channel {
        @include font-subheader;
    }
    &__details {
        @include font-body;
        color: $color-primary-silver;

        &--views::before {
            content: url('../../assets/icons/views.svg');
            padding-right: 4px;
        }

        &--likes::before {
            content: url('../../assets/icons/likes.svg');
            padding: 0 6px 0 3px;
        }
    }
    &__description {
        @include font-body;

    }
}

.comment-form {
    &__user-comment {
        resize: none;
        padding: 12px;
        height: 72px;
    
        @include tablet {
            padding: 0 16px;
            height: 0;
        }
    }

    &__button {
        position: relative;
        
        &::before {
            content: url('../../assets/icons/add_comment.svg');
            position: absolute;
            left: 10px;
        }
    }
}

.comments-section__total-comments {
    @include font-subheader;
}

.comment-post {
    @include font-body;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid $color-secondary-mercury;
    padding: 1.5rem 0 1rem;

    @include desktop {
        padding: 3rem 10% 2rem;
    }

    &__container {
        width: 80%;
    }

    &__heading-container {
        display: flex;
        justify-content: space-between;
    }

    &__name {
        font-weight: 700;
    }

    &__date {
        color: $color-primary-silver;
    }
}