@use '../../styles/partials/mixins' as *;


.comment-form__user-comment {
    resize: none;
    padding: 12px;
    height: 72px;

    @include tablet {
        padding: 0 16px;
        height: 0;
    }
}