// @use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;
@use './styles/partials/typography' as *;
@use './styles/partials/colors' as *;


// * {
//     margin: 0;
//     padding: 0;
// }

html {
    font-size: $root-font-size;
    // font-family: $font-stack;
}

body {
    margin: 0;
    font-family: $font-stack;
    color: $color-primary-black;
}

a {
    text-decoration: none;
}