@use '../../styles/partials/mixins' as *;

.nav {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 16px;

    @include tablet {
        flex-direction: row;
    }

    &__logo {
        max-height: 25px;
        max-width: 120px;
    }

    &__search {
        margin: 16px;
    }

    &__avatar {
        background-image: url('../../assets/images/Mohan-muruge.jpg');

        // &--mobile {
        //     @include tablet {
        //         display: none;
        //     }
        // }
        // &--tablet {
        //     display: none;
        //     @include tablet {
        //         display: flex;
        //     }
        // }
    }
}