@use '../../styles/partials/mixins' as *;

.nav {
    // box-sizing: border-box;
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


    @include tablet {
        flex-direction: row;
    }

    &__logo {
        max-height: 25px;
        max-width: 120px;
    }
}